.jumbotron {
    margin: 2%;
    padding: 2%;
}

.btn {
    margin: 3%;
    padding: 3%;
}

.col-sm-12 {
    width: 30%;
    margin-left: 3%;
}


.panel-primary {
    border-color: #7EA8CA;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #7EA8CA;
}